#navbar{
    position: fixed;
    width: 100vw;
    >div{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        button{
            margin: 0px 10px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            font-size: 15px;
            text-decoration: underline;
        }
    }
}