#footer{
    background-color: #353535;
    display: flex;
    align-items: center;
    padding: 50px 30vh;
    justify-content: space-between;
    h2{
        color: white;
    }
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
        button,a{
            background-color: #353535;
            border: none;
            margin: 0px 8px;
            color: white;
            text-decoration: none;
        }
    }
}